.offset1 {
  transform: translateY(11px);
}

.offset2 {
  transform: translateY(-11px);
}

.tabs {
  display: flex;
  justify-content: center;
}

.tabs button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.tabs button.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.unit {
  transform: rotate(-90deg);
  transform-origin: center;
}

.flex {
  margin-top: 10px; /* Ensure some spacing between the buttons and the scale */
}

.unit {
  transform: rotate(-90deg);
  transform-origin: center;
}

.fixed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mb-2 {
  margin-bottom: 10px; /* Adjust spacing to ensure buttons don't overlap the scale */
}