
@import '@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
//@use '@angular/material' as mat;

@include mat-core();

$datetime-picker-primary: mat-palette($mat-indigo);
$datetime-picker-accent:  mat-palette($mat-pink, A200, A100, A400);
$datetime-picker-warn:    mat-palette($mat-red);

$datetime-picker-theme: mat-light-theme($datetime-picker-primary, $datetime-picker-accent, $datetime-picker-warn);

@include angular-material-theme($datetime-picker-theme);