.plot-list-icon {
    width: 16px;
    height: 16px;
}

.content {
    display: inline;
}

.active {
    background: rgba(0,0,0,.1);
}

.clickable {
    cursor: pointer;
}

.scrollable-list {
    max-height: 300px; /* Set your desired max height */
    overflow-y: auto;
}