mat-form-field {
  margin: 8px;
  
  mat-label {
    font-size: 10px;
  }
}

.position {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
  background-color: #f9f9f9;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap; // Allows items to wrap in smaller screens

  .mat-form-field {
    flex: 1 1 20%; // Allows fields to grow and shrink but starts with 20% base width
    margin-bottom: 0; // Removes default margin
  }
}

// Responsive adjustment for smaller screens
@media (max-width: 600px) {
  .position {
    flex-direction: column; // Stack fields vertically on small screens

    .mat-form-field {
      width: auto; // Take the full width of the container
    }
  }
}