<div *ngIf="message || alpha || delta || foxtrot || golf || india || miker || papaa || papax || tango || gentext">
    <p>{{ message }}</p>
    <p *ngIf="alpha">Alpha: {{ alpha }}</p>
    <p *ngIf="delta">Delta: {{ delta }}</p>
    <p *ngIf="foxtrot">Foxtrot: {{ foxtrot }}</p>
    <p *ngIf="golf">Golf: {{ golf }}</p>
    <p *ngIf="india">India: {{ india }}</p>
    <p *ngIf="miker">Miker: {{ miker }}</p>
    <p *ngIf="papaa">Papaa: {{ papaa }}</p>
    <p *ngIf="papax"> Papax: {{  papax }}</p>
    <p *ngIf="gentext"> Gentext {{ gentext }}</p>
</div>